{
	"useTabs": true,
	"trailingComma": "all",
	"bracketSameLine": false,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 80,
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
