---
import Layout from "@layouts/Layout.astro";
import PostList from "./_PostList.svelte";

const posts = await Astro.glob("./posts/*");
---

<Layout title="" description="Ross Robino's Blog" keywords={"blog"}>
	<h1 class="text-xl md:text-2xl">
		Hello, I'm <a href="https://robino.dev">Ross</a>. I created this blog as
		a place to write about topics I am interested in. Check out my posts
		below.
	</h1>
	<PostList posts={posts} />
</Layout>
