@import "uico";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--base: theme(colors.slate.600);
		--accent: theme(colors.teal.700);
		--destructive: theme(colors.rose.700);

		pre {
			--shiki-foreground: theme(colors.base.200);
			--shiki-background: theme(colors.base.900);
			--shiki-token-constant: theme(colors.base.50);
			--shiki-token-string: theme(colors.sky.200);
			--shiki-token-comment: theme(colors.base.400);
			--shiki-token-keyword: theme(colors.teal.300);
			--shiki-token-parameter: theme(colors.base.300);
			--shiki-token-function: theme(colors.violet.300);
			--shiki-token-string-expression: theme(colors.sky.300);
			--shiki-token-punctuation: theme(colors.base.300);
			--shiki-token-link: theme(colors.base.300);

			margin-inline: -1.5rem;
			border-radius: 0;
			padding-inline: 0;

			@media (min-width: 640px) {
				margin-inline: 0;
				border-radius: theme(borderRadius.sm);
			}

			& > code {
				/* wrapping codeblock */
				display: flex;
				flex-direction: column;
				width: fit-content;
				min-width: 100%;
			}

			& .line,
			& p {
				padding-inline: theme(padding.6);
				height: 2.5ch;

				&.highlighted {
					background-color: theme(colors.base.800);
				}
			}
		}
	}

	::view-transition-group(*) {
		animation-duration: 300ms;
		animation-timing-function: ease-in-out;
	}

	@media (prefers-reduced-motion) {
		::view-transition-group(*),
		::view-transition-old(*),
		::view-transition-new(*) {
			animation: none !important;
		}
	}

	/* For youtube embeds */
	iframe {
		border: 2px solid theme(colors.muted.foreground);
		border-radius: theme(borderRadius.DEFAULT);
		background-color: theme(colors.muted.foreground);
		aspect-ratio: 16 / 9;
		width: 100%;
	}

	pre:hover {
		cursor: copy;
	}
	pre:active {
		cursor: default;
	}

	h2 {
		text-wrap: pretty;
	}
}
